<ion-view view-title="Tabla Nutricional">
  <ion-content>
  
    	<style>
#tabla {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 50;
}

#tabla td, #tabla th {
  border: 1px solid #ddd;
  padding: 10px;
}

#tabla tr:nth-child(even){background-color: #f2f2f2;}

#tabla tr:hover {background-color: #ddd;}

#tabla th {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  background-color:#40E0D0;
  color: white;
}
.tablafor{
  margin-left: 13%;
}
</style>
  <table id="tabla">
  <tr>
    <th>Desayuno</th>
    <th>Refaccion</th>
    <th>Almuerzo</th>

  </tr>
  <tr>
    <td>Lacteos <br>→Leche<br>→Yogurt<br>→Queso</td>
    <td>Lácteos <br>→Aportan calcio</td>
    <td>→Puré de papa con pollo frito en agua,<br> sin aceite</td>

  </tr>
  <tr>
    <td>Hidratos de carbono <br>→Pan <br>→Cereales (sin azucar)</td>
    <td>Frutas frescas <br>→vitaminas <br>→minerales <br>→fibra </td>
    <td>→Ensalada de atún y porción pequeña <br>de arroz, sin aceite.</td>

  </tr>
  <tr>
    <td>Proteina <br>→huevos <br>→Jamon serrano <br> →Yogurt</td>
    <td>Frutas secas <br>no muy salados ni acaramelados<br>→proteínas <br>→fibra <br>→grasas buenas</td>
    <td>→Menestra de fréjol o lenteja y pescado <br>al vapor o asado.</td>

  </tr>
  <tr>
    <td>Fruta <br>→La que este de temporada <br>y de tu gusto</td>
    <td>Huevos <br>→huevos duros<br>→huevitos de codorniz <br>→proteínas</td>
    <td>→Ensalada de fréjol, cebolla, aguacate <br>y huevo duro. </td>

  </tr>
  <tr>
    <td>Grasas Saludables <br>→Aguacate <br>→Frutos secos <br>→Salmon</td>
    <td>Los horneados <br>→La cancha serrana <br>→Los palitos de yuca</td>
    <td>→Legumbres cocidas</td>

  </tr>
</table>



<table id="tabla" class="tablafor">
  <tr>
    <th>Refaccion</th>
    <th>Cena</th>    
  </tr>
  <tr>
    <td>Manzana roja <br>→Vitamina E <br>→Pectina</td>
    <td>→Ensalada de atún</td>    
  </tr>
  <tr>
    <td>Uvas <br>→Vitamina C <br>→Vitamina K <br>→Vitamina B<br>→Vitamina E <br>→Vitamina A</td>
    <td>carnes blancas <br>→pollo con vegetales <br>→camarón</td>    
  </tr>
  <tr>
    <td>Pera <br>→Vitamina C <br>→Vitamina A <br>→Fosforo</td>
    <td>→pollo con vegetales </td>    
  </tr>
  <tr>
    <td>Maní <br>→Potasio <br>→Magnesio <br>→Hierro</td>
    <td>→yogurt o leche</td>    
  </tr>
  <tr>
    <td>Banano <br>→Hierro <br>→Potasio</td>
    <td>→té</td>    
  </tr>





</table>










  </ion-content>
</ion-view>
