/* Empty. Add your own CSS if you like */
.styh11{
	font-family: unreal ;
	font-size: 25px;
}
.imglay{
	width: 500px !important;
	height: 250px;
	padding-left: 15%;
	padding-right: 0 !important;
	padding-bottom: 15%;
}